<%- include("../layouts/adminheader")%>

<div class="card mb-4">
    <header class="card-header">
        <h4 class="card-title">Sales Reports</h4>
        <div class="row align-items-center">
            <form action="/admin/salesreport" method="GET">
                <div class="d-flex">
                    <span>From</span>
                    <div class="col-md-2 col-6">
                        <input name="from" type="date" value="" class="form-control">
                    </div>
                    &nbsp;&nbsp; <span>To</span> &nbsp;&nbsp;
                    <div class="col-md-2 col-6">
                        <input name="to" type="date" value="" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Generate Report</button>
                </div>
            </form>
        </div>
        <br>
        <div class="d-flex">
            <a href="/admin/reports><span class="fw-semibold">Download Excel</span></a>
            &nbsp;&nbsp; <a href="/admin/reports"><span class="fw-semibold">Download PDF</span></a>
        </div>
        <div class="d-flex gap-3 mt-3 ms-2">
            <a class="text-blue text-decoration-underline" href="/admin/salesreport">
                <span></span>
            </a>
        </div>
    </header>
    <div class="card-body">
        <div class="table-responsive">
            <div class="table-responsive">
               
              
               
                
                <table class="table align-middle table-nowrap mb-0">
                    <thead class="table-light">
                        <tr>
                            <th class="align-middle" scope="col">Order ID</th>
                            <th class="align-middle" scope="col">Customer Name</th>
                            <th class="align-middle" scope="col">Date</th>
                            <th class="align-middle" scope="col">Total</th>
                            <th class="align-middle" scope="col">Payment Method</th>
                            <th class="align-middle" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                  
                        <% orderData.forEach((item) => { %>
                            
                            <%if(item.orderStatus === "Delivered"){%>
                  
                        <tr>
                            <td><%=item._id%></td>
                            <td><b><%=item.address.Name%></b></td>
                            <td> <%=item.orderDate.toLocaleDateString('en-IN', { year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                            <td>&#8377;<%= item.totalprice %></td>
                            <td><span class="badge rounded-pill alert-warning text-capitalize"><%=item.paymentmethod%></span></td>

                            <td><%= item.orderStatus %></td>
                        </tr>
                        <% } %>
                        <% }); %>
                    </tbody>
                </table>
               
            </div>
        </div> <!-- table-responsive end// -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        console.log("Document is ready.");
        var table = $('#myTable').DataTable({
            "paging": true,
            "pageLength": 5,
            "lengthMenu": [5, 10, 25, 50, 75, 100],
        });
        table.on('draw', function () {
            $(".paginate_button:not(.previous):not(.next)").addClass("number_button");
        });
    });
</script>

<%- include("../layouts/adminfooter.ejs")%>
