<%- include("../layouts/adminheader")%>

<div class="card-body">
    <div class="table-responsive">
        <div class="table-responsive">
            <table class="table align-middle table-nowrap mb-0">
                <thead class="table-light">
                    <tr>
                       
                      <th class="align-middle" scope="col">#</th>
                        <th class="align-middle" scope="col">Name</th>
                        <th class="align-middle" scope="col">Email</th>
                        <th class="align-middle" scope="col">Mobile</th>
                        <th class="align-middle" scope="col">verified</th>
                        <th class="align-middle" scope="col">status</th>
                        <th class="align-middle" scope="col" style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(users.length > 0) {
                        for(let i=0; i<users.length; i++) {
                      %>
                      <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= users[i].name %></td>
                        <td><%= users[i].email %></td>
                        <td><%= users[i].mobile %></td>
      
                        <!-- verified || unverified -->
                        <td><% if(users[i].is_verified == 0) { %>
                          <p style="color: red; font-weight: bold;">Not Verified</p>
                          <% } else { %>
                          <p style="color: green; font-weight: bold;">Verified</p>
                          <% } %>
                        </td>
      
                        <!-- blocked|| Unblocked -->
                        <td><% if(users[i].is_block == false) { %>
                          <p style="color: red; font-weight: bold;">Block</p>
                          <% } else { %>
                          <p style="color: green; font-weight: bold;">Unblock</p>
                         <% } %>
                        </td>
      
                        <td>
                          <% if(users[i].is_block == 0) { %>
                          <a href="/admin/block?id=<%= users[i]._id %>" class="btn btn-danger">Block</a>
                          <% } else { %>
                          <a href="/admin/unblock?id=<%= users[i]._id %>" class="btn btn-success">Unblock</a>
                          <% } %>
                        </td>
                      </tr>
                      <% }
                        } else { %>
                      <tr>
                        <td colspan="6" class="text-center">Users Not Found</td>
                      </tr>
                      <% } %>
                    
                     
                </tbody>
            </table>
        </div>
    </div> <!-- table-responsive end// -->
</div>
<%- include("../layouts/adminfooter")%>