<%- include("../layouts/header")%>
    <link rel="stylesheet" type="text/css" href="/public/css/btn.css">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-12">
                    <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                        here to enter your code.</h6>
                </div> -->

            </div>

            <form method="" action="" class="checkout__form">

                <input type="hidden" id="cart-data" value='<%= JSON.stringify(cart) %>'>

                <div class="row">

                    <div class="col-lg-8">
                        <div class="col-lg-8">


                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <h5>Billing detail</h5>
                            </div>
                            <div class="col-lg-4" style="text-align: center;">
                                <a href="/checkoutaddadress" class="black-button"
                                    style="margin-left: 100px; background-color: #000000; color: #FFFFFF; padding: 10px; text-decoration: none; display: inline-block;">Add
                                    Address</a>
                            </div>
                            <div class="col-lg-4" style="text-align: right;">
                                <a href="/addresses" class="black-button"
                                    style="background-color: #000000; color: #FFFFFF; padding: 10px; text-decoration: none; display: inline-block;">Manage
                                    Address</a>
                            </div>
                        </div>



                        <div class="row">


                            <% if(typeof defaultAddress !=='undefined' ){ %>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="checkout__form__input">
                                        <p> Name <span>*</span></p>
                                        <input name="name" type="text" value="<%=defaultAddress.Name %>">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="checkout__form__input">
                                        <p>Phone <span>*</span></p>
                                        <input name="mobile" type="number" value="<%=defaultAddress.Number %>">
                                    </div>
                                    <div class="checkout__form__input">
                                        <p>Address 1<span>*</span></p>
                                        <input type="text" name="address1"
                                            placeholder=" street Apartment. suite, unite ect ( optinal )"
                                            value="<%=defaultAddress.addressLine1 %>">
                                    </div>
                                    <div class="checkout__form__input">
                                        <p>Address 2<span>*</span></p>

                                        <input type="text" name="address2"
                                            placeholder=" street Apartment. suite, unite ect ( optinal )"
                                            value="<%=defaultAddress.addressLine2 %>">
                                    </div>
                                    <div class="checkout__form__input">
                                        <p>State <span>*</span></p>
                                        <input name="state" type="text" value="<%=defaultAddress.state %>">
                                    </div>
                                    <div class="checkout__form__input">
                                        <p>Pincode <span>*</span></p>
                                        <input name="postalCode" type="number" value="<%=defaultAddress.postalCode %>">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="checkout__form__input">
                                        <p>Contry <span>*</span></p>
                                        <input name="country" type="text" value="<%=defaultAddress.country %>">
                                    </div>
                                </div>

                                <% }else{ %>
                                    <div>
                                        <h1>No address</h1>
                                    </div>
                                    <% } %>
                        </div>

                    </div>


                    <div class="col-lg-4">

                        <div class="checkout__order">
                            <h5>Your order</h5>
                            <div class="checkout__order__product">
                                <ul>
                                    <li>
                                        <span class="top__text">Product</span>
                                        <span class="top__text__right">Total</span>
                                    </li>
                                    <% cart.products.forEach(cartItem=> { %>

                                        <li>
                                            <%= cartItem.productId.productname %>&#215;<%= cartItem.quantity%>
                                                    <span>&#8377; <%= cartItem.price.toFixed(2) %></span>
                                        </li>
                                        <% }) %>

                                </ul>
                            </div>
                            <div class="apply-coupon">
                                <!-- Apply Coupon Section (conditionally rendered) -->
                                <% if (coupon) { %>
                                    <div class="input-group">
                                        <input form="paymentForm" type="text" id="couponCode" class="form-control"
                                            placeholder="Coupon Code" value="<%= coupon.couponCode %>">


                                        <div class="input-group-append">
                                            <a href="/coupons" class="btn btn-outline-primary-2">Apply</a>
                                        </div>
                                    </div>
                                    <% } else { %>
                                        <!-- Render the coupon code input without a value -->
                                        <div class="input-group">
                                            <input form="paymentForm" type="text" id="couponCode" class="form-control"
                                                placeholder="Coupon Code">
                                            <div class="input-group-append">
                                                <a href="/coupons" class="btn btn-outline-primary-2">Apply</a>
                                            </div>
                                        </div>
                                        <% } %>
                            </div><!-- End .apply-coupon -->
                            <% cart.products.forEach(cartItem=> { %>
                                <div class="checkout__order__total">
                                    <ul>


                                        <li>Subtotal <span>&#8377; <%= cart.cartSubtotal.toFixed(2) %></span></li>
                                        <% if(coupon) {%>
                                            <li>Total <span>&#8377; <%= calculateTotalPrice %></span></li>
                                            <% } else {%>
                                                <li>Total <span>&#8377; <%= cart.cartTotal.toFixed(2) %></span></li>
                                                <% } %>
                                    </ul>

                                </div>
                                <% }) %>

                                    <div class="payment-method">
                                        <h4>Payment Method</h4>
                                        <!-- <div class="form-group form-check">
                                    <input form="paymentForm" type="radio" name="paymentMethod" id="f-option4"
                                        value="wallet">
                                    <label class="form-check-label" form="paymentForm" for="payWithWallet">Wallet
                                        Only</label>
                                </div> -->
                                        <div class="form-group form-check">
                                            <input form="paymentForm" type="radio" name="paymentmethod" id="f-option5"
                                                value="cod">
                                            <label class="form-check-label" for="cashOnDelivery">Cash on
                                                Delivery</label>
                                        </div>
                                        <div class="form-group form-check">
                                            <input form="paymentForm" type="radio" name="paymentmethod" id="f-option6"
                                                value="online">
                                            <label class="form-check-label" for="upiPayment">Online Payment</label>

                                        </div>

                                        <div class="form-group form-check">
                                            <input form="paymentForm" type="radio" name="paymentmethod" id="f-option5"
                                                value="wallet">
                                            <label class="form-check-label" for="wallet">wallet(walletBalacne:&#8377;
                                                <%=walletData.balance %>)
                                            </label>
                                        </div>
                                    </div><!-- End .payment-method -->

                                    <button type="submit" id="place-order" class="site-btn">Place oder</button>

                        </div>
                    </div>
            </form>
        </div>

        </div>
    </section>
    <!-- Checkout Section End -->
    <!-- Add this script block to your checkout.ejs file -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>

        $(document).ready(function () {
            $("#place-order").click(function (event) {
                event.preventDefault();

                const selectedPaymentMethod = $('input[name="paymentmethod"]:checked').val();
                if (!selectedPaymentMethod) {
                    displayPaymentMethodError(); // Call the function to display the error message
                } else {
                    console.log("yoo bb", selectedPaymentMethod);
                    const address = {
                        name: $("input[name='name']").val(),
                        mobile: $("input[name='mobile']").val(),
                        address1: $("input[name='address1']").val(),
                        address2: $("input[name='address2']").val(),
                        state: $("input[name='state']").val(),
                        postalCode: $("input[name='postalCode']").val(),
                        country: $("input[name='country']").val()
                    };

                    const cartData = JSON.parse($("#cart-data").val());
                    const formData = {
                        address: address,
                        cart: cartData,
                        paymentmethod: selectedPaymentMethod // Pass the selected payment method
                    };
                    console.log('form', formData);
                    $.ajax({
                        type: "post",
                        url: "/placeorder",
                        data: JSON.stringify(formData),
                        contentType: "application/json",
                        success: function (response) {
                            console.log("nodwallet",response.nowallet);
                            if (!response.nowallet) {
                                console.log("entring my");
                                displayInsufficientBalanceError(response.error);
                            }


                            if (response.success === false) {

                                displayCartEmptyError(response.message);

                            } else if (response.paymentmethod === "wallet") {




                                Swal.fire({
                                    title: "Order Success",
                                    text: `Your order has been placed successfully! Your wallet balance is Rs:₹${response.walletBalance} `,
                                    icon: "success",
                                    showCancelButton: true,
                                    confirmButtonText: "View Orders",
                                    cancelButtonText: "Continue Shopping",
                                    reverseButtons: true
                                }).then(function (result) {
                                    if (result.value) {
                                        window.location.href = '/orderlist'; // Redirect to order list
                                    } else if (result.dismiss === "cancel") {
                                        window.location.href = "/shop"; // Redirect to shopping page
                                    }
                                });
                            }



                            else if (selectedPaymentMethod === 'cod') {
                                // Handle Cash on Delivery (COD) payment


                                Swal.fire({
                                    title: "Order Success",
                                    text: "Your order has been placed successfully!",
                                    icon: "success",
                                    showCancelButton: true,
                                    confirmButtonText: "View Orders",
                                    cancelButtonText: "Continue Shopping",
                                    reverseButtons: true
                                }).then(function (result) {
                                    if (result.value) {
                                        window.location.href = '/orderlist'; // Redirect to order list
                                    } else if (result.dismiss === "cancel") {
                                        window.location.href = "/shop"; // Redirect to shopping page
                                    }
                                });
                            } else if (selectedPaymentMethod === 'online') {
                                console.log('generaterOrder', response.generateOrder)
                                const options = {
                                    "key": "rzp_test_YlNy1JDmG6jBsS", // Enter the Key ID generated from the Dashboard
                                    "amount": response.generateOrder.amount_due, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                    "currency": "INR",
                                    "name": "Future Furniture", //your business name
                                    "description": "Test Transaction",
                                    "image": "https://example.com/your_logo",
                                    "order_id": response.generateOrder.id, //This is a sample Order ID. Pass the id obtained in the response of Step 1
                                    "handler": function (status) {


                                        verifyPayment(response, status)
                                    },
                                    "prefill": {
                                        "name": "Gaurav Kumar",
                                        "email": "gaurav.kumar@example.com",
                                        "contact": "9000090000"
                                    },
                                    "notes": {
                                        "address": "Razorpay Corporate Office"
                                    },
                                    "theme": {
                                        "color": "#3399cc"
                                    }
                                };

                                var rzp1 = new Razorpay(options);
                                rzp1.open();

                            }

                            else {
                                console.log("Invalid payment method selected");
                            }

                        },
                        error: function (error) {
                            console.error("Error:", error);
                        }
                    });
                }
            });

        });
        function displayPaymentMethodError() {
            Swal.fire({
                title: "Error",
                text: "Please choose the payment method",
                icon: "error",
            });
        }

        function verifyPayment(order, payment) {

            $.ajax({
                url: '/verifyPayment',
                method: 'POST',
                data: {
                    order,
                    payment
                },
                success: (response) => {
                    if (response.status) {

                        location.href = '/orderlist'
                    } else {

                        Swal.fire({
                            icon: 'error',
                            title: 'Payment Failed',
                            text: 'Payment failed! '
                        });
                    }
                }
            })
        }

        // Function to redirect to the payment gateway
        function redirectToPaymentGateway(generateOrder) {
            const options = {
                // Define your payment gateway options here
                // Example: Razorpay options
            };

            var rzp1 = new Razorpay(options);
            rzp1.open();
        }

        function displayInsufficientBalanceError(error) {
            Swal.fire({
                icon: 'error',
                title: 'Insufficient Balance',
                text: error,
                footer: '<a href="/profile">Recharge Now</a>',
            });
        }
        function displayCartEmptyError(error) {
            Swal.fire({
                icon: 'error',
                title: ' Cart is Empty',
                text: error,
                footer: '<a href="/shop">Purchase Products</a>',
            });
        }
    </script>



    <%- include("../layouts/footer")%>