<%- include("../layouts/header")%>  
<link rel="stylesheet" type="text/css" href="/public/css/btn.css">
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb__links">
                  <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                  <span>Shopping cart</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
              here to enter your code.</h6>
          </div>
        
      </div>

      <form method="" action=""  class="checkout__form">
       
       <input type="hidden" name="call" value="calll" >
          <div class="row">
            
              <div class="col-lg-8">
                <div class="col-lg-8">
                

            </div>

            <div class="row">
                <div class="col-lg-4">
                    <h5>Billing detail</h5>
                </div>
                <div class="col-lg-4" style="text-align: center;">
                    <a href="/checkoutaddadress" class="black-button" style="margin-left: 100px; background-color: #000000; color: #FFFFFF; padding: 10px; text-decoration: none; display: inline-block;">Add Address</a>
                </div>
                <div class="col-lg-4" style="text-align: right;">
                    <a href="/addresses" class="black-button" style="background-color: #000000; color: #FFFFFF; padding: 10px; text-decoration: none; display: inline-block;">Manage Address</a>
                </div>
            </div>
            
            
                
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6">
                          <div class="checkout__form__input">
                              <p> Name <span>*</span></p>
                              <input  name="name" type="text" value="<%=defaultAddress.Name %>">
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <div class="checkout__form__input">
                              <p>Phone <span>*</span></p>
                              <input  name="mobile" type="number"  value="<%=defaultAddress.Number %>">
                          </div>
                          <div class="checkout__form__input" >
                              <p>Address 1<span>*</span></p>
                              <input type="text" name="address1" placeholder=" street Apartment. suite, unite ect ( optinal )"  value="<%=defaultAddress.addressLine1 %>" >
                          </div>
                          <div class="checkout__form__input">
                            <p>Address 2<span>*</span></p>
                            
                            <input type="text"  name="address2" placeholder=" street Apartment. suite, unite ect ( optinal )"  value="<%=defaultAddress.addressLine2 %>">
                        </div>
                          <div class="checkout__form__input" >
                              <p>State <span>*</span></p>
                              <input name="state" type="text"  value="<%=defaultAddress.state %>">
                          </div>
                          <div class="checkout__form__input" >
                              <p>Pincode <span>*</span></p>
                              <input   name="postalCode" type="number"  value="<%=defaultAddress.postalCode %>">
                          </div>
                      </div>
                     
                      <div class="col-lg-6 col-md-6 col-sm-6">
                          <div class="checkout__form__input">
                              <p>Contry <span>*</span></p>
                              <input  name="country" type="text"  value="<%=defaultAddress.country %>">
                          </div>
                      </div>
                     
                      </div>
                   
                  </div>
               
             
                  <div class="col-lg-4">
                  
                      <div class="checkout__order">
                          <h5>Your order</h5>
                          <div class="checkout__order__product">
                              <ul>
                                  <li>
                                      <span class="top__text">Product</span>
                                      <span class="top__text__right">Total</span>
                                  </li>
                                  <% cart.products.forEach(cartItem => { %>
                                    
                                    <li><%= cartItem.productId.productname  %>&#215;<%= cartItem.quantity%> <span>&#8377; <%= cartItem.price.toFixed(2) %></span></li>
                                <% }) %>
                                
                              </ul>
                          </div>
                          <div class="checkout__order__total">
                            <ul>
                                <li>Subtotal <span>&#8377; <%= cart.cartSubtotal.toFixed(2) %></span></li>
                                <li>Total <span>&#8377; <%= cart.cartTotal.toFixed(2) %></span></li>
                            </ul>
                          </div>
                          <div class="checkout__order__widget">
                              <label for="o-acc">
                                  Create an acount?
                                  <input type="checkbox" id="o-acc">
                                  <span class="checkmark"></span>
                              </label>
                              <p>Create am acount by entering the information below. If you are a returing customer
                              login at the top of the page.</p>
                              <label for="check-payment">
                                  Cash ON delivery
                                  <input type="checkbox" id="check-payment">
                                  <span class="checkmark"></span>
                              </label>
                              <label for="paypal">
                                  PayPal
                                  <input type="checkbox" id="paypal">
                                  <span class="checkmark"></span>
                              </label>
                          </div>
                          <button type="submit" class="site-btn">Place oder</button>
                      </div>
                  </div>
                </form>
              </div>
        
      </div>   
  </section>
  <!-- Checkout Section End -->
<!-- Add this script block to your checkout.ejs file -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
       const button = document.querySelector(".site-btn");


        form.addEventListener("submit", function (event) {
            event.preventDefault();

            // Use Fetch to submit the form data to your server and handle the response
            fetch("/place-order", {
                method: "POST",
                body: new FormData(form),
            })
            .then((response) => response.json())
            .then((data) => {
                // Redirect to the order-placed page
                window.location.href = "/order-placed";
            })                                     
            .catch((error) => {
                console.error("Error:", error);
            });
        });
    });
</script>

<%- include("../layouts/footer")%>  