
<%- include("../layouts/header")%>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="admin-assets/css/main.css" rel="stylesheet" type="text/css" />

        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Edit profile</h4>
                    <form method="post" action="update" enctype="multipart/form-data">
                       
                        <input type="hidden" name="userId" value="<%=userData._id %>">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                          
                            <input class="form-control" name="name" placeholder="Your Name" type="text" value="<%= userData.name %>">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" name="email" placeholder="Your email" type="text" value="<%= userData.email%>">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <div class="row gx-2">
                                
                                <div class="col-8"> <input class="form-control" name="mobile" placeholder="Phone" type="text" value="<%= userData.mobile%>"> </div>
                            </div>
                        </div> <!-- form-group// --> <div class="mb-3">
                            <label class="form-label">profilePhoto</label>
                            <input class="form-control" name="image" placeholder="Your email" type="file" >
                        </div> <!-- form-group// -->
                       <!-- form-group// -->
 
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100"> Edit </button>
                        </div> <!-- form-group// -->
                    </form>
                </div>
            </div>
        </section>
  
<%- include("../layouts/footer")%>  