<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mob-world</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/asset/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/style.css" type="text/css">

    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

   

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/asset/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/home">Home</a></li>
                            <!-- <li><a href="#">Women’s</a></li>
                            <li><a href="#">Men’s</a></li> -->
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">Product Details</a></li>
                                    <li><a href="/cart">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <a href="/orderlist">order</a>
                            <a href="/logout">Logout</a>
                           
                          
                        </div>
                        
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="/profile" class="icon_profile profile-switch"></a></li>
                            <!-- <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li> -->
                            <li><a href="/cart"><span class="icon_bag_alt"></span>
                                <!-- <div class="tip">2</div> -->
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order Detail</h2>
                <p>Details for Order ID: <%= order._id %>
                </p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-3">
                        <span>
                            <i class="material-icons md-calendar_today"></i>
                        </span>
                        <br>
                        <small class="text-muted">Order Date: <%= order.orderDate.toLocaleDateString('en-IN', {
                                year: 'numeric' , month: 'short' , day: 'numeric' }) %></small>
                    </div>
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <!-- Add any action buttons or icons here -->
                    </div>
            </header> <!-- card-header end// -->

         
            <style>
                .table {
                    width: 100%;
                    border-collapse: collapse;
                }
            
                .table th,
                .table td {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }
            
                .table th {
                    background-color: #f2f2f2;
                }
            
                .itemside .left {
                    display: flex;
                    align-items: center;
                }
            
                .img-xs {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 5px;
                }
            </style>

            
            <div class="card-body">
                <div class="row mb-5 mt-3 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">
                                    <%= order.userId.name %>
                                </h6>
                                <p class="mb-1">
                                    <%= order.userId.tel %>
                                </p>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order Info</h6>
                                <p class="mb-1">Shipping: Fargo Express <br> Payment Method: <%= order.paymentmethod %>
                                        <br>
                                        <p>Status:
                                            <%= order.orderStatus %>
                                        </p>
                                </p>
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver To</h6>
                                <p class="mb-1">City: <%= order.address.Name %> <br>
                                        <%= order.address.addressLine1 %> <br>
                                            <%= order.address.state %>, <%= order.address.postalCode %>
                                </p>
                            </div>
                        </article>

                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="20%">Product</th>
                                        <th width="20%">Product Name</th>
                                        <th width="20%">Product Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% order.products.forEach(function(item) { %>
                                        <tr>
                                            <td>
                                                <a class="itemside d-flex" href="#">
                                                    <div class="left">
                                                        <img src="/uploadProduct/<%= item.productId.image[0] %>"
                                                            width="80" height="80" class="img-thumbnail" alt="Item">
                                                    </div>
                                                </a>
                                            </td>
                                            <td>
                                                <%= item.productId.productname %>
                                            </td>
                                            <td>
                                                <%= item.price %>
                                            </td>
                                            <td>
                                                <%= item.quantity %>
                                            </td>
                                            <td>
                                                <%= order.orderStatus %>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive// -->
                    </div> <!-- col-lg-7 // -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <div class="box shadow-sm bg-light">
                            <h6 class="mb-3">Order Summary</h6>
                        </div>
                        <table class="table">
                            <tr>
                                <td colspan="4">
                                    <article>
                                        <% order.products.forEach(function(item) { %>
                                            <dl class="dlist d-flex">
                                                <dt>
                                                    <%= item.productId.productname %> :
                                                </dt>
                                                <dd>₹ <%= item.price %>
                                                </dd>
                                            </dl>
                                            <% }) %>
                                                <dl class="dlist d-flex">
                                                    <!-- <dt>Discount:</dt>
                                          <dd>₹0.0</dd> -->
                                                </dl>
                                                <dl class="dlist d-flex">
                                                    <dt>Grand Total:</dt>
                                                    <dd><b class="h5">₹<%= order.totalprice %></b></dd>
                                                </dl>
                                    </article>
                                    <div class="text-center mt-4">
                                        <% if (order.orderStatus !=='Cancelled' && order.orderStatus !=='Delivered' &&
                                            order.orderStatus !=='Returned' ) { %>
                                            <button class="btn btn-success"
                                                onclick="cancelOrder('<%= order._id %>')">Cancel Order</button>
                                            <% } %>
                                    </div>
                                    <div class="text-center mt-4">
                                        <% if (order.orderStatus !=='Cancelled' && order.orderStatus !=='Returned' &&
                                            order.orderStatus !=='Shipped' && order.orderStatus !=='Pending' ){ %>

                                            <button class="btn btn-success"
                                                onclick="returnOrder('<%= order._id %>')">Return</button>
                                            <% } %>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div> <!-- col-lg-4 // -->
                </div> <!-- row // -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section> <!-- content-main end// -->

   
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <script>
            function cancelOrder(orderId) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Cancel Order',
                    text: 'Are you sure you want to cancel this order?',
                    showCancelButton: true,
                    cancelButtonText: "No, keep the order",
                    confirmButtonText: 'Yes, cancel it',
                    cancelButtonColor: '#d33',
                    confirmButtonColor: '#6fd542',
                    heightAuto: false,
                }).then((result) => {
                    console.log("bla bla bla", result.isConfirmed);
                    if (result.isConfirmed) {

                        $.ajax({
                            url: '/ordercancel',
                            method: 'POST',
                            data: JSON.stringify({ orderId: orderId }),
                            contentType: 'application/json',
                            success: function (response) {
                                if (response.success) {
                                    console.log(response)
                                    window.location.href = '/orderdetail/' + orderId;
                                } else {
                                    // Handle the error case here if needed.
                                    console.log('Error: An error occurred while cancelling the order.');

                                }
                            },
                            error: function () {
                                // Handle the AJAX error here if needed.
                                console.log('Error: An error occurred while making the AJAX request.');

                            }



                        });
                    }
                });
            }
        </script>
        <script>

function returnOrder(orderId) {
    const returnReasons = [
        'Item damaged',
        'Wrong item received',
        'Not satisfied with the product',
        'Ordered by mistake',
        'Other'
    ];

    const optionsHTML = returnReasons.map(reason => `<option value="${reason}">${reason}</option>`).join('');

    Swal.fire({
        title: 'Return Order',
        html: `
            <label for="reason">Select a reason for return:</label>
            <select id="reason" class="swal2-select" required>
                <option value="" disabled selected>Select a reason</option>
                ${optionsHTML}
            </select>
        `,
        showCancelButton: true,
        cancelButtonText: 'Cancel',
        confirmButtonText: 'Return Order',
        preConfirm: () => {
            const selectedReason = document.getElementById('reason').value;
            if (selectedReason === "") {
                Swal.showValidationMessage('Please select a reason for return');
            }
            return { selectedReason };
        }
    }).then((result) => {
        if (result.isConfirmed) {
            const { selectedReason } = result.value;

            $.ajax({
                url: '/orderReturn',
                method: 'POST',
                data: JSON.stringify({ orderId, selectedReason }),
                contentType: 'application/json',
                success: function (response) {
                    if (response.success) {
                        console.log(response);
                        window.location.href = '/orderdetail/' + orderId;
                    } else {
                        if (response.error === 'NotDelivered') {
                            Swal.fire('Cannot return the order', 'The order has not been delivered yet.', 'error');
                        } else if (response.error === 'Over10Days') {
                            Swal.fire('Return Not Possible', 'You cannot return an order placed more than 10 days ago.', 'error');
                        } else {
                            Swal.fire('Error', 'An error occurred while returning the order.', 'error');
                        }
                    }
                },
                error: function () {
                    console.log('Error: An error occurred while making the AJAX request.');
                }
            });
        }
    });
}
    
        </script>
        <!-- Footer Section Begin -->

<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/asset/js/jquery-3.3.1.min.js"></script>
<script src="/asset/js/bootstrap.min.js"></script>
<script src="/asset/js/jquery.magnific-popup.min.js"></script>
<script src="/asset/js/jquery-ui.min.js"></script>
<script src="/asset/js/mixitup.min.js"></script>
<script src="/asset/js/jquery.countdown.min.js"></script>
<script src="/asset/js/jquery.slicknav.js"></script>
<script src="/asset/js/owl.carousel.min.js"></script>
<script src="/asset/js/jquery.nicescroll.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/walletReacherge.js"></script>
<script src="/path_to_sweetalert_library"></script>



<script src="/asset/js/main.js"></script>
<script src="/js/addtocart.js"></script>
<script src="/js/cartQuantity.js"></script>
<script src="/js/removecart.js"></script>

</body>

</html>