<%- include("../layouts/header")%>


<!-- content -->
<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-xl-3">
        <nav class="nav flex-lg-column w-100 d-flex nav-pills mb-4">
          <a class="nav-link my-0 bg-light" href="/addresses"><p class="pb-0 mb-0" style="width: 100px">Addresses</p></a>
        
          <a class="nav-link my-0 bg-light" href="/orderlist"><p class="pb-0 mb-0" style="width: 100px">Orders history</p></a>
         
          <a class="nav-link my-0 bg-light" href="/wallethistory"><p class="pb-0 mb-0" style="width: 100px">Wallet history</p></a>
         
          <a class="nav-link my-0 bg-light" href="#"><p class="pb-0 mb-0" style="width: 100px">Log out</p></a>
        </nav>
      </div>
      <main class="col-lg-9 col-xl-9">
        <div class="card p-4 mb-0 shadow-0 border">
          <div class="content-body">
            <div class="d-flex align-items-center">

              <div class="me-3">
                <% if(user&& user.image) {%>
                  <img src="/userProfile/<%= user.image%>" class="rounded-circle" style="height: 60px; width: 60px;">
                <% }else{ %>
                <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/avatars/avatar.webp" class="rounded-circle" style="height: 60px; width: 60px;" />
                <% } %>
              </div>
              <div class="pt-2">
              
                <h6 class="pt-2">Mr.<%= user.name %></h6>
               

                <p>
                 Email:<%= user.email %> <br>
                 Phone:<%= user.mobile %>
                  <a href="#" class="px-2"><i class="fa fa-pen"></i></a>
                </p>
               
                <a href="/editprofile?user=<%= user._id %>" class="btn-icon"> Edit</a>
              </div>
              <div class="ms-auto" style=" text-align: right;  page-break-inside: auto;" id="walletElement" >
                <a href="YOUR_ACTION_URL_HERE">
                
                  <img src="https://static.vecteezy.com/system/resources/thumbnails/004/983/677/small/e-wallet-logo-design-design-template-free-vector.jpg" style="height: 100px; width: 100px; margin-top: 17px  ;
                  margin-right: -21px;"     />
                    <button  class="btn btn-success" >Recharge</button>
                </a>
              </div>
              <div class="" >
             
                 
                <input type="text" name="" id="" value= "&#8377;<%=walletData.balance %>" readonly style="border-color: red; border-radius: 3px;  border-color: red;
                border-radius: 3px;
                width: 168px;
                height: 36px;
                margin-right: 100px;
                margin-left: 6px;
                padding-left: 65px;">
              </div>
            </div>
            
            <hr />

            

            <a href="address" class="btn btn-light border"> <i class="me-2 fa fa-plus"></i> Add new address </a>
            <a href="changepassword" class="btn btn-light border"> <i class="me-2 fa fa-plus"></i> Change Password </a>

            <hr class="my-4" />

            <h5 class="mb-3">Your orders</h5>
            
            
          </div>
        </div>
      </main>
    </div>

  </div>
</section>
<!-- content -->

<%- include("../layouts/footer")%>