<%- include("../layouts/header")%>
    <style>
        .btn-pagination {
            display: inline-block;
            padding: 8px 16px;
            background-color: #01060b;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 2px;
        }

        .btn-pagination.current-page {
            background-color: #ccc;
            color: #333;
        }
    </style>
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>All products</h4>
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-heading active">
                                            <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    <% categories.forEach(category=> { %>
                                                        <% if(category.active) { %>

                                                            <li><a
                                                                    href="/shop?categoryname=<%= category.categoryname %>">
                                                                    <%= category.categoryname %>
                                                                </a></li>
                                                            <% } %>

                                                                <% }); %>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card">

                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div id="collapseThree" class="collapse" data-parent="#accordionExample">

                                        </div>
                                    </div>
                                    <div class="card">

                                        <div id="collapseFour" class="collapse" data-parent="#accordionExample">

                                        </div>
                                    </div>
                                    <div class="card">

                                        <div id="collapseFive" class="collapse" data-parent="#accordionExample">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__filter">
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <% products.forEach(product=> { %>
                            <% if (product.isListed===true) { %>
                                <div class="col-lg-4 col-md-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg"
                                            data-setbg="/uploadProduct/<%= product.image[0] %>">
                                            <div class="label new">New</div>
                                            <ul class="product__hover">
                                                <li><a href="productdetail?products=<%= product._id %>"><span
                                                            class="arrow_expand"></span></a></li>
                                                <!-- <li><a href="#"><span class="icon_heart_alt"></span></a></li> -->
                                                <li><a href="/cart" class="addtocartbtn"
                                                        data-productId="<%= product._id %>"><span
                                                            class="icon_bag_alt"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a href="#">
                                                    <%= product.productname %>
                                                </a></h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>

                                            <div class="product__price">
                                                <del>&#8377;<%= product.productprice %></del> &#8377;<%=
                                                    product.salesprice %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <% }) %>
                    </div>
                    <div class=" p-5 text-center d-flex justify-content-center ">
                        <div class="pagination">
                            <% for (let i=1; i <=totalPages; i++) { %>
                                <a href="?page=<%= i %>"
                                    class="btn-pagination<%= i === currentPage ? ' current-page' : '' %>">
                                    <%= i %>
                                </a>
                                <% } %>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <!-- Shop Section End -->



    <%- include("../layouts/footer")%>